/*
LANDING MARKETING PAGE
*/

@import '../core/mixins';
@import '../core/variables';

$hero-height: 600px;

.Landing {
  font-size: $h3-font-size;
  height: minmax(100vh, auto);
  margin-top: -$header-height;
  overflow: hidden;

  &-subheader {
    text-align: center;
    width: 100%;
  }

  &-hero {
    align-items: center;
    background-color: rgba(desaturate($orange, 25%), 0.3);
    color: $off-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: $hero-height;
    z-index: 5;

    &::before {
      background-color: transparent;
      background-image: url('~images/homepage-hero.jpg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: '';
      display: inline;
      filter: blur(6px);
      height: $hero-height;
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: -1;
    }

    &-action {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .Btn {
      align-items: center;
      margin: 0 auto;
      width: 200px;

      &::after {
        background-image: url('~images/css-svgs/arrow-point-to-right.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 1em;
        margin-left: $pad-mar-med;
        width: 20px;
      }
    }
  }

  &-cta {
    background-color: $off-white;
    display: flex;
  }

  &-metrics {
    background-color: $off-white;
    background-image: url('~images/blueprint.jpg');
  }
}
