/*
LANDING MARKETING PAGE
*/

@import '../core/mixins';
@import '../core/variables';

$hero-height: 650px;

.Landing {
  font-size: $h3-font-size;
  height: minmax(100vh, auto);
  margin-top: -$header-height;
  overflow: hidden;

  &-subheader {
    font-size: $h1-font-size;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  &-hero {
    align-items: center;
    background-color: rgba(darken($orange, 30%), 0.3);
    color: $off-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: $hero-height;
    z-index: 5;

    &::before {
      background-color: transparent;
      background-image: url('~images/homepage-hero.jpg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: '';
      display: inline-block;
      filter: blur(6px);
      height: $hero-height;
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: -1;
    }

    .Landing-subheader {
      font-size: $giant-font-size;
      margin-top: $header-height;
      width: 100%;

      &::before {
        background-image: url('~images/css-svgs/tool.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 50px;
        margin-bottom: $pad-mar-large;
        opacity: 0.5;
        width: 100%;
      }
    }

    &-action {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .Btn {
      align-items: center;
      font-size: $h2-font-size;
      margin: 0 auto;
      width: 400px;

      &::after {
        align-items: center;
        background-image: url('~images/css-svgs/arrow-point-to-right.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-flex;
        height: 1em;
        margin-left: $pad-mar-large;
        width: 30px;
      }
    }
  }

  &-cta {
    background-color: $beige;
    border-bottom: 10px solid $orange;
    border-top: 10px solid $orange;
    padding: $pad-mar-xx-large;
    text-align: center;

    .Landing-badgeWrapper {
      display: flex;
      flex-wrap: wrap;
      margin: $pad-mar-xx-large 0 0;
      justify-content: space-around;
    }

    .Landing-badge {
      color: $orange;
    }

    .LicenseBadge {
      @include hexagon($off-white, 150px);
      margin-bottom: 60px;
      text-align: left;
    }
  }

  &-metrics {
    position: relative;

    &-backdrop {
      background-color: $beige;
      background-image: url('~images/blueprint.jpg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% auto;
      display: inline-block;
      filter: blur(6px);
      min-height: $hero-height;
      position: absolute;
      top: -5px;
      width: 100%;
      z-index: -1;
    }

    &-content {
      background-color: rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      color: $off-white;
      font-weight: 300;
      padding: 100px;
    }
  }
}
