/*
LOGO
*/

@import '../core/variables';

.Logo {
  align-items: center;
  display: inline-flex;
  width: 80px;

  svg {
    fill: $brand-primary;
    font-size: 30px;
    overflow: visible;
    width: 80px;
  }
}
