/*
PROJECT LISTINGS
*/

@import '../core/mixins';
@import '../core/variables';

.ProjectListings {
  margin: 0 auto;
  max-width: 900px;
  padding: $pad-mar-large $pad-mar-med;

  &-filters {
    margin: 0 auto $pad-mar-x-large;
    max-width: 900px;

    &-row {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .SelectInput-wrapper {
      width: 30%;
    }
  }

  .User-tips-coins {
    align-items: center;
    display: inline-block;
    height: 100%;
    justify-content: center;

    &::before {
      display: block;
      margin: 0 auto $pad-mar-x-small;
    }
  }

  &-listing {
    align-items: center;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: $pad-mar-large;
    padding: $pad-mar-med $pad-mar-large;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-specialization {
      color: $orange;
    }

    &-issuer,
    &-description {
      width: 100%;
    }

    &-date {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      padding: $pad-mar-small $pad-mar-med;
      width: 100px;
    }

    &-status,
    &-start,
    &-end {
      margin: 0;
      padding: 0;
      width: 100%;

      dt,
      dd {
        margin: 0;
        padding: 0;
      }

      dt {
        color: $med-gray;
        font-size: $h4-font-size;
      }

      dd {
        color: $brand-primary;
        font-size: $h3-font-size;
      }
    }

    &-status {
      width: 100px;
    }

    &-start {
      margin-bottom: $pad-mar-small;
    }

    .LicenseBadge {
      margin-bottom: 40px;
    }
  }
}
