/*
  SUBHEADER
*/

@import '../core/mixins';
@import '../core/variables';

.SubHeader {
  align-items: center;
  background-color: $dark-gray;
  color: $off-white;
  display: none;
  font-family: $main-font;
  font-size: $main-font-size;
  height: 100%;
  justify-content: flex-end;
  min-width: 200px;
  padding-right: $pad-mar-med;

  &-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &-link {
    align-items: center;
    display: inline-flex;
    height: 100%;
    padding: 0 $pad-mar-large;

    &:last-of-type {
      margin-left: $pad-mar-xx-large;
    }

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: $white;
    }
  }

  &-user {
    align-items: center;
    display: inline-flex;
    height: 100%;

    &::before {
      background-image: url('~public/images/avatar.png');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 50px;
      margin-right: $pad-mar-small;
      width: 50px;
    }
  }

  svg {
    @include transition(0.3s ease);
    fill: $white;
    margin-left: $pad-mar-small;
    width: 1em;
  }

  &.is-open {
    svg {
      transform: rotate(180deg);
    }
  }

  &--mobile {
    display: inline-block;
    padding-right: $pad-mar-med;
    position: relative;
    z-index: $z-20;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .SubHeader {
    display: inline-flex;

    &--mobile {
      display: none;
    }
  }
}
