/* system-wide helpers */
@import 'core/_variables';
@import 'core/_mixins';
@import 'core/_animations';
@import 'core/_transitions';

#root {
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

body {
  background-color: $off-white;
  color: $dark-gray;
  font-family: $main-font;
  font-size: $main-font-size;
  margin: 0;
  max-width: 100vw;
}

main {
  min-height: calc(100vh - #{$header-height});
}

.App-container {
  display: grid;
  grid-template: minmax($header-height, auto) 1fr / 1fr;
  height: minmax(100vh, 100%);
}

/* start actual styles */
@import 'core/base';
@import 'core/objects';
@import 'core/utilities';
@import 'components/buttons';
@import 'components/forms';
@import 'components/inputs';
@import 'components/tooltip'; // for error-tips showing up properly
